<li>
    {{id}}.
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newstate="{{devour}}">
		{{#if devour}}Devour it!{{else}}Not Devour!{{/if}}
	</button>
	<!-- <button class="delete-cat" data-id="{{id}}">Delete</button> -->
</li>